body {
    width: 100vw;
    background: #201E1F;
    background-image: linear-gradient(to bottom, #201E1F, #FF4000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
#items {
    display: flex;
    flex-direction: row;
    width: 50vw;
    flex-wrap: wrap;
    font-size: 5vh;
}
#userInput {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#itemInput,
#itemInput::placeholder {
    font-size: 5vh;
    border-radius: 5vw;
    text-align: center;
    color: #50B2C0;
    background-color: black;
}
.item {
    font-size: 5vh;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    color: #50B2C0;
}